<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.metafour.barcode"
    version="1.0.2">
      
    <name>Metafour-Barcode-Scanner</name>

    <engines>
            <engine name="cordova-android" version=">=6"/>
    </engines>

    <js-module src="www/barreader.js" name="OpticonBarcodeReader">
        <clobbers target="barreader" />
    </js-module>

    <!-- android -->
    <platform name="android">
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OpticonBarcodeReader">
                <param name="android-package" value="com.metafour.barcode.plugin.OpticonBarcodeReaderPlugin"/>
            </feature>
            <feature name="HoneywellBarcodeScannerPlugin">
                <param name="android-package" value="com.icsfl.rfsmart.honeywell.HoneywellScannerPlugin"/>
            </feature>            
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
			<permission android:protectionLevel="normal" android:name="android.permission.BCR" />
			<uses-permission android:name="android.permission.RECEIVE_SCANNER" />
            <uses-permission android:name="com.honeywell.decode.permission.DECODE" />
			
			<intent-filter>
                <action android:name="com.metapp.datawedge.SCANNER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			
        </config-file>

        <resource-file src="libs/com.oem.barcode.sdk.jar" target="libs" />
        <resource-file src="libs/DataCollection.jar" target="libs" />
        
        <source-file src="src/com/metafour/barcode/opticon/OpticonIntentHandler.java" target-dir="src/com/metafour/barcode/opticon/OpticonIntentHandler.java"/>
        <source-file src="src/com/metafour/barcode/datawedge/DatawedgeIntentHandler.java" target-dir="src/com/metafour/barcode/datawedge/DatawedgeIntentHandler.java" />
        <source-file src="src/com/metafour/barcode/honeywell/HoneywellHandler.java" target-dir="src/com/metafour/barcode/honeywell/HoneywellHandler.java" />
        <source-file src="src/com/metafour/barcode/BarcodeScan.java" target-dir="src/com/metafour/barcode/BarcodeScan.java" />
        <source-file src="src/com/metafour/barcode/ScanCallback.java" target-dir="src/com/metafour/barcode/ScanCallback.java" />
        <source-file src="src/com/metafour/barcode/ScanningIntentHandler.java" target-dir="src/com/metafour/barcode/ScanningIntentHandler.java" />
        <source-file src="src/com/metafour/barcode/plugin/OpticonBarcodeReaderPlugin.java" target-dir="src/com/metafour/barcode/plugin/OpticonBarcodeReaderPlugin.java" />
                
    </platform>

</plugin>
